.featured-works {
  background-color: #fff;
}

.featured-works__container {
  margin: 0 auto;
  max-width: $desktopWidth;
}

.featured-works__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(min-width: $desktopWidth) {
    flex-direction: row;
  }
}
