.featured-works {
  background-color: #fff;

  &__container {
    margin: 0 auto;
    max-width: $desktopWidth;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: $desktopWidth) {
      flex-direction: row;
    }
  }
}
