.page {
  height: 100%;

  &__body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Heebo Regular", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #21243d;
    line-height: 24px;
  }
}
