.posts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--blog {
    flex-direction: column;
  }

  @media(min-width: $desktopWidth) {
    display: flex;
    gap: 0 20px;
  }
}

.posts-list__item {
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 20px 22px 20px;
  margin-bottom: 17px;

  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);



  @media(min-width: $desktopWidth) {
    margin-bottom: 32px;
    padding: 24px 21px 35px 23px;
  }

  &--blog {
    position: relative;
    padding: 0;
    padding-bottom: 24px;
    box-shadow: none;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid #e0e0e0;
    }

    @media(min-width: $desktopWidth) {
      padding: 0;
      padding-bottom: 29px;
    }
  }
}

.posts-list__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  @media(min-width: $desktopWidth) {
    margin-bottom: 27px;
  }

  &--blog {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 38px;

    @media(min-width: $desktopWidth) {
      font-size: 30px;
      line-height: 44px;
      margin-bottom: 16px;
    }
  }

}
.posts-list__link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: 'Heebo Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;

  &:hover {
    opacity: 0.8;
    transition: all 0.2s;
  }

  &:active {
    opacity: 0.6;
    transition: all 0.2s;
  }

  @media(min-width: $desktopWidth) {
    font-size: 26px;
    line-height: 38px;
  }
}

.posts-list__info {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  & span {
    margin: 0 24px;
  }

  &--blog {
    display: flex;

    @media(min-width: $desktopWidth) {
      margin-bottom: 15px;
    }
    span {
      @media(min-width: $desktopWidth) {
        font-size: 20px;
      line-height: 29px;
      }
    }
  }

  @media(min-width: $desktopWidth) {
    font-size: 18px;
    line-height: 26px;
  }
}

.posts-list__year {
  margin: 0;
  padding: 0;

  @media(min-width: $desktopWidth) {
    font-size: 20px;
    line-height: 29px;
  }
}

.posts-list__category {
  margin: 0;
  padding: 0;
  color: #8695a4;

  @media(min-width: $desktopWidth) {
    font-size: 20px;
    line-height: 29px;
  }
}

.posts-list__text {
  margin: 0;
  padding: 0;
}
