.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 0 35px;
}

.social-list__link {
  &:hover .social-list__icon {
    opacity: 0.8;
    transition: all 0.2s;
  }

  &:active .social-list__icon {
    fill: #ff6464;
  }
}
